<div class="container-fluid container text-center">
  <div class="row justify-content-center">
    <div class="col-8">
      <h2 class="blogTitle text-uppercase">{{title}}</h2>
      <p class="blogCreate">Created by {{user.username}} on {{format_date date_created}}</p>
      <p class="blogDescTwo">{{description}}</p>
    </div>
  </div>
</div>

{{!-- Comments Section --}}
	{{#if logged_in}}
<div class="row justify-content-center">
  <form class="new-comment-form formCont" data-blogid={{id}}>
    <div class="textAreaCont p-2">
      <textarea id='comment_description' name="comment-body" placeholder="Enter a comment here..." cols="30" rows="2"></textarea>
    </div>
    <div class="btnComment p-2">
      <button class="button btn btn-success" type="submit">Add Comment</button>
    </div>
  </form>
</div>
{{/if}}

<h2 class="text-center">Comments</h2>
{{#each comments as |comment|}}
<div class="row justify-content-center">
  <div class="commentCont col-8">
    <p class="commentText">{{comment.comment_description}}</p>
    <p class="commentOwner">Created by {{comment.user.username}} on {{format_date comment.date_created}}</p>
  </div>
</div>
{{/each}}

<script src="/js/dashboard.js"></script>
<script src="/js/comments.js"></script>
